.container {
    display: flex;
    justify-content: center;
    height: 300px;
    margin-top: 10px;
    background-color: rgb(231, 231, 231);
}

.grafico {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
    width: 100%;
    padding: 30px;
}